body {
    background: rgb(248, 239, 226);
    font-size: 20px;
    text-align: center;
    

  }
*{
    font-family:  "Signika Negative", sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    border-bottom: 1px solid grey;

}
.navbar__container ul{
    display: flex;
    gap: 20px;
    font-size: 18px;
    justify-content: space-between;
    /* height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px; */
    
}
.navbar__links:hover{
    color: #f77062;
    transition: all 0.3s ease;
}
/* .navbar__container ul li a{

} */
#navbar__logo{
    color: #CC5500;
    background-image: linear-gradient(to top #A30000 0%,#FF5C5C 100%);
    font-size: 2em;
    cursor: pointer;
    /* -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill
    -color: transparent;
     -moz-text-decoration-color:transparent ;
     text-decoration: none; */
}

.hero{
    /* add my photo */
     background-image: url(images/Shakahira.jpg);
    min-height: 0;
    /* background-position:-209.098px 1.05px; */
    background-position: 50%,50%;
    padding-top: 268px;
    padding-bottom: 269px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 1159.2px 651.9px; */
    background-color: transparent;
    /* background-attachment: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
    

}
em{
    font-size: 40px;
    font-weight: lighter;
}
.About h1{
    font-size: 50px;
}
.About span{
    font-weight: lighter;
}
img{
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    /* overflow-clip-margin: content-box;
    overflow: clip; */
}
img:hover{
    transform: scaleX(-1);
}
.name{
    font-size: 35px;
}
.text-wrapper em{
    font-size: 30px;
    color: green;
}
.list ul li{
    list-style-type: disc;
    text-align: left;
}
table[
    border-collapse: seperate; 
    border-spacing: 0 80px; /* horizontal and vertical values */
    /* text-align: left; */
    width: 500px;
    
]
table tr td{
    padding: 10px;
    font-weight: lighter;
}